<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Insert info</title>
</head>
<body>
    <form method = "POST" action = "/api/task">
        
                <div style="text-align:center"><h1>information</h1>
                picture   : <input type = "file" placeholder="type picture URLs" name = "picture"><br>
                firstName : <input type = "text" placeholder="type firstName" name = "firstName"><br>
                LastName  : <input type = "text" placeholder="type LastName" name = "LastName"><br>
                <h3>login information</h3><br>
                ID        : <input type = "text" placeholder="type ID" name = "ID"><br>
                PassWord  : <input type = "text" placeholder="type PassWord" name = "PassWord"><br>
                <h3>Address</h3><br>
                Street    : <input type = "text" placeholder="type Street" name = "Street"><br>
                City      : <input type = "text" placeholder="type City" name = "City"><br>
                State     : <input type = "text" placeholder="type State" name = "State"><br>
                Country   : <input type = "text" placeholder="type Country" name = "Country"><br>
               
        <input type = "image" src = "/images/Submit.gif" height= "200" width="300" name = "Submit" value="Submit" >
        <form method = "GET" action = "/">
            <input type = "image" src = "/images/cancel.jpg" height = "200" width = "300" name = "Submit" value = "Submit"></intput>
        </form></div>
    </form>
</body>
</html>