<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body, html{
            margin : 0;
            padding: 0;
            border: 0;
            height : 100%;
            outline: 0;
        }
        .bgimg{ 

            background-image: url('../images/bg1.jpg');
            min-height: 100%;
            background-position: center;
            background-size: cover;
            display : flex;
            justify-content: center;
            align-items: center;
            /* display, justtify-content, align-items 속성이 합쳐져서 모든 컨텐트들이 가운데 화면 크기에 따라 가운데 정렬된다. */
        }
    .content{
        font-weight: bold;
        text-align: center;
        position: absolute; 
    }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>POST</title>
</head>
<body>
            <div class = "bgimg">
                <div class = "content">
                <table outline = "2">
                    <tr><td><h2>POST your thing</h2></td></tr>
                    <tr><td><form method = "POST" action = "/main/post/upload">
                            <input type = "text" placeholder="write Title" style="width: 580px" name = "title">
                             
                    </td></tr>
                    <tr><td>
                            <textarea cols="80px" rows="50px"></textarea>
                        </form>
                    </td></tr>
                </table>
                </div>
            </div>
</body>
</html>